<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projects</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url "show_my_tasks" %}"></a>
                        </li>
                        <li>
                            <a href="{% url "list_projects" %}"></a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}"></a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "login" %}"></a>
                        </li>
                        <li>
                            <a href="{% url "signup" %}"></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block main %}
        {% endblock main %}
    </body>
</html>
