{% extends "base.html" %}

{% block main %}
    <main>
        <div>
            <h1>Create a new project</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock main %}
